


<div>
        <div class="container text-center pt-5 ">
            <div class="row">
                <div class="col-md-12 py-5">
                    <h2>WHY JOIN US?</h2>
                    <h3>Experienced players all around the world</h3>
                </div>
                <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                                <div class="item"><img src="assets/three.jpg"/></div>
                                <div class="item"><img src="assets/two.jpg"/></div>
                                <div class="item"><img src="assets/three.jpg"/></div>
                                <div class="item"><img src="assets/two.jpg"/></div>
                                <div class="item"><img src="assets/three.jpg"/></div>
                                <div class="item"><img src="assets/two.jpg"/></div>
                                <div class="item"><img src="assets/three.jpg"/></div>
                                <div class="item"><img src="assets/two.jpg"/></div>
                                
                          
                            </div>
                    </div>
                    <div class="col-md-12">
                        <a href="" class="btn ">Join Our Team »</a>
                            <span class="text-muted d-block pt-4">Selection on basis of Live Matches!</span>
                        </div>
            </div>
        </div>
    </div>